<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit Recipe</title>
    <link rel="stylesheet" 
        type="text/css" 
        href="{{ url_for('static', filename ='style.css') }}">
</head>
<body>
    <div>
        <h1>Edit Recipe</h1>
        <div>
            <a href="/dashboard">dashboard</a>
            <a href="/logout">Logout</a>
        </div>
    </div>
    <form action="/recipe/update/{{recipe.id}}" method="post" class="flex">
        <div class="flex fcol col aleft">
            <label for="name">Name:</label>
            <input type="text" name="name" id="" value="{{recipe.name}}">
            <label for="description">Description:</label>
            <textarea name="description" id="" cols="30" rows="10">{{recipe.description}}</textarea>
            <label for="instructions">Instructions:</label>
            <textarea name="instructions" id="" cols="30" rows="10">{{recipe.instructions}}</textarea>
            <button>Update</button>
        </div>
        <div class="flex fcol col aleft">
            <label for="date_made">Date Made On:</label>
            <input type="date" name="date_made" id="" value="{{recipe.date_made}}">
            <label for="quick">Under 30 Minutes?</label>
            {% if recipe.quick == "Yes" %}
                <input type="radio" name="quick" id="" value="Yes" checked>Yes
                <input type="radio" name="quick" id="" value="No">No
            {% else %}
                <input type="radio" name="quick" id="" value="Yes">Yes
                <input type="radio" name="quick" id="" value="No" checked>No
            {% endif %}
        </div>
    </form>
    {% with messages = get_flashed_messages() %}
        {% if messages %}
            {% for message in messages %}
                <p>{{message}}</p>
            {% endfor %}
        {% endif %}
    {% endwith %}
</body>
</html>