<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>All Recipes</title>
    <link rel="stylesheet" 
    type="text/css" 
    href="{{ url_for('static', filename ='style.css') }}">
</head>
<body>
    <div class="flex around">
        <h1>Welcome {{logged_in_user.first_name}}!</h1>
        <a href="/recipe/new">Create New Recipe</a>
        <a href="/logout">Logout</a>
    </div>
    <h3>These are the current recipes</h3>
    <table>
        <thead>
            <tr>
                <th>Name</th>
                <th>Under 30 minutes?</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            {% for recipe in all_recipes %}
                <tr>
                    <td>{{recipe.name}}</td>
                    <td>{{recipe.quick}}</td>
                    <td>
                        <a href="/recipe/{{recipe.id}}">View</a>
                        {% if recipe.user.id == logged_in_user.id %}
                            <a href="/recipe/edit/{{recipe.id}}">| Edit</a>
                            <a href="/recipe/delete/{{recipe.id}}">| Delete</a>
                        {% endif %}
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</body>
</html>